html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
		.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
		html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
		*, *:before, *:after {box-sizing: inherit}
		.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

    .wrapper {
      max-width: 1200px;
      margin:0 auto;
      width:100%;
    }

    body,
    ul {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style: none;
    }

    html {
      max-width: 100%;
      font-size:62.5%;
    }

    body,
    .nav-bar a,
    button {
      color:#ffffff;
    }

    .button-header,
    .read-button,
    .subscribe {
       background-color:#9200ff;
    }

    img {
      max-width: 100%;
      height: auto;
    }

 /*HEADER STYLE START HERE */

    header {
      background-image: url("assets/image-1.png");
      background-repeat: no-repeat;
      height: 100vh;
      background-size: cover;
    }

    .nav-bar a {
      text-decoration: none;
      margin:20px;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      float:left;
      text-align: center;
      margin-top:30px;
      text-transform: uppercase;

    }

    nav ul li {
      margin-left:400px;
    }

    h1 {
      font-family: 'Iceberg', cursive,sans-serif;
      font-size:80px;
      text-align: center;
      bottom:200px;
      position:absolute;
      right:518px;
      text-transform: uppercase;
       
    }

    .button-header {
      bottom: 200px;
      padding: 12px 17px;
      margin: 0 60px;
      font-size: 29px;
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      right: 405px;
      letter-spacing: 4px;
      border: none;
      }

   .social-media {
      font-size:25px;
      float:right;
      margin-top:190px;
      padding:20px;
      margin-bottom: 10px;
        
    }

    i  {
      margin-top:10px;
    }
/* FIRST SECTION AND SECOND SECTION / STYLE HERE */

    .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
     } 

    h2 {
      font-family: 'Iceberg', cursive,sans-serif;
      font-size:52px;
      margin:0;
      text-transform: uppercase;
      
    }
    

    .aside-picture img {
      height:600px;
      display:inherit;
    }
    
    .text1 {
      text-align: justify;
      background-color: #0f0632;
      padding: 69px;
      height: 600px;
      width: 50%;
      float: left;
     
    }
    .text1 h2 {
      margin-top: 127px;
    }

    .aside-picture {

      float:left;
      overflow: hidden;
      width:50%;
    }

    p,
    .contact-info {
      font-family: 'Montserrat', sans-serif;
      font-size:16px;
      padding-bottom:20px;
      margin-top:12px;
      width: 91%;
    }

    .read-button {
      font-family: 'Iceberg', cursive,sans-serif;
      font-size:25px;
      padding:10px 15px;
      text-transform: uppercase;
      border:none;
    }

/* section get your ticket/ picture and text with black background */

    .small-picture {
      width:20%;
    }

    .background-black {
      background-color:#08080b;
      min-height: 500px;

    }

    .ticket-text {
      width:40%;
    }

    .ticket-text, 
    .small-picture {
      float:left;
      position:relative;
      left:100px;
      top:100px;
      margin:0 50px;
    }
  
/* SECTION /LOCATION /TICKETS/REACH OUT */

    .location {
      background-color: #3d0369;
      min-height:450px;
       
    }

    .location ul li {
      font-family: 'Montserrat', sans-serif;
      font-size:25px;
      text-align: center;
      left:435px;
      top:211px;
      position:relative;
      text-transform: uppercase;
      float:left;
    }

    .ticket-reach-out i {
      font-size: 60px;
    }
      
    .fa-location-arrow {
      position: relative;
      bottom: 50px;
      left: -97px;
     }


    .fa-ticket-alt {
      position: relative;
      bottom: 50px;
      right: 83px;
    }

    .fa-phone {
      position: relative;
      bottom: 50px;
      left: -103px;
    }

/*  SECTION THE GRAM / GALLERY */

    .gallery {
      background-color: #0f0632;

    }

    .gallery img {
      width: 33.33%;
      float: left;
      padding: 50px;
      margin-bottom: 40px;
    }

    .center-text {
      padding-top:50px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

/* FOOTER STYLE*/

    footer {
      background-color:#3d0369;
      min-height: 400px;
    }

    form {
      float: right;
      margin-right:100px;
      position:relative;
      bottom:112px;
    }
    
    .contact-info {
      margin-left:120px;
      position:relative;
      top:50px;
    }
    
    .copyright {
      background-color: #0f0632;
      position:relative;
      top:20px;
      padding-top:10px;
      clear:both;
    }

    .copyright p {
      margin-left:600px;
    }

    .contact-info ul li {
      margin-top:10px;
      margin-left: 10px;
    }

    input {
      border-radius: 0;
      height: 38px;
      border:none;
    }

    .subscribe {
      padding: 7px 10px 9px;
      border:none;
      font-size: 21px;
      text-transform: uppercase;
    }

    #email {
      width:400px;
      padding-left: 42px;
      font-size: 17px;
    }

    .p-subscribe {
      margin:0;
  
    }

    .copyright a {
        margin-left: 20px;
      }
  

/* MEDIA QUERIA START HERE */
   

/* MEDIA QUERIA 1400PX */

    @media (min-width: 1400px) and (max-width:1500px) {

    .social-media {
      position:relative;
      left: 100px;
      }
    }

    @media (max-width: 1400px) {
        
      nav ul li {
        margin-left: 0;
      }

      .copyright p {
        margin-left: 464px;
    }

    }

/* MEDIA QUERIA 1200PX */

    @media (max-width: 1200px) {

    form {
      float: none;
      margin-left: 125px;
      position: relative;
      bottom: 11px;
    }

    form h2 {
      padding-top:50px;
    }

    .nav-bar {
      margin-left:100px;
    }

    
    .nav-bar a {
    margin: 8px;
    padding-top: 20px;
    }
    }

/* MEDIA QUERIA 1100PX */

    @media (max-width: 1100px) {

    h2 {
      font-size: 33px;
      
    }
    
    .text1 h2 {
      margin-top:0;
    }

    body > footer:nth-child(3) {
      text-align: center;
    }

    h1 {
      right: 300px;
    }
  
    .button-header {   
      right: 208px;

    }
   
    .aside-picture img,
    .second-aside-picture img,
    .text1, 
    .new-experience-text { 

      height: 413px;
    }

    .read-button {
      font-size: 15px;
    }

    p, .contact-info {
      font-size: 14px;
    }

    .small-picture {
      width: 35%;
    }

    .ticket-text, .small-picture {
      margin: 0px 30px;
    }

    .location {
      min-height: 408px;
    }

    .location ul li {
      left: 260px;
    }

    #email {
      width: 346px;
    }

    .contact-info {
      margin-left: 0;
    }

    .copyright p {
    margin-left: 0;
    }


    }

/* MEDIA QUERIA 1100PX */

    @media (max-width: 1000px) {

    .location ul li {
      left: 179px;
    }

    }

/* TABLET PORTRAIT */
/* MEDIA QUERIA 800PX */

    @media (max-width: 800px) {

    .ticket-text {
      width: 65%;
    }

    .ticket-text, .small-picture {
      left: 50px;
      top: 67px;
    }

    ul.nav-bar {
      display: none;
    }

    .social-media {
      display: none;
    }
  
    h1 {
      right: 233px;
      font-size: 75px;
    }

    .button-header {
      margin: 0 60px;
      font-size: 25px;
      margin: -12px 60px;
      font-size: 24px;
      right: 134px;
    }

    .ticket-text, .small-picture {
      float: left;
    }

    .ticket-text, .small-picture {
      margin: 29px 0;
      height: 333px;
    }

    p, .contact-info {
      font-size: 15px;
    }
    
    .small-picture {
      width: 59%;
    
    }

    .background-black {
      min-height: 500px;
      padding-bottom: 200px;
    }
    
    .ticket-reach-out {
      left: 190px;
    }

    i.fas:nth-child(3) {
      position: relative;
      top: 380px;
      left: -367px;
    }

    .location {
      min-height: 537px;
    }

    .location ul li {
      font-size: 20px;
      top: 132px;
      left: 300px;
    }

    i.fas:nth-child(2) {
      top: 224px;
      left: -189px;
    }

    .location > ul:nth-child(1) > li:nth-child(2) {
      position: relative;
      margin-left: -162px;
      top: 292px;
    }

    .location > ul:nth-child(1) > li:nth-child(3) {
      position: relative;
      top: 425px;
      margin-left: -178px;
    }

    img.picture:nth-child(4) {
      display: none;
    }

    .gallery img {
      width: 33.33%;
      width: 50%;
    }

    #email {
      text-align: center;
      padding:22px;
      margin: 4px;
    }

    .subscribe {
    padding: 12px 113px 10px;
    }

    .aside-picture,
    .text1 {

    display: none;
    }

    .ticket-reach-out i {
      font-size: 50px;
      top: -63px;
    }

    .read-button {
    padding: 14px 43px;
    font-size: 18px;
    margin-left: 53px;
    }

    form{
       margin-left: 53px;
       padding-bottom:60px;
       padding-top: 30px;
     }

    .p-subscribe {
       margin-left: 23px;
     }
    }

     @media (max-width:1100px) and (min-width:800px) {

     form h2 {
     margin-right: 93px;
    }
   }

   /*SECTION HIDE */

    @media (max-width:800px) {
  
    .hide-text {
      background-color:#0f0632;
      padding: 51px;
      width: 100%;
    }

    .hide-picture > img:nth-child(1) {
      display: inherit;

    }

    .read-button {
     
      margin-left: 136px;
    }

    }

    @media (min-width:800px) and (max-width:1500px) {
    .hide-picture, .hide-text {
      display:none;
    }
    }

/* MEDIA QUERIA 600PX */

    @media (max-width: 600px) {

    h1 {
      font-size: 65px;
      right: 67px;
      bottom: 100px;
    }
      
    .location ul li {
      left: 200px;
    }

    .gallery img {
      padding: 20px;
    }

    .small-picture {
      width: 78%;
    }

    .nav-bar {
      margin-left: 7px;
    }

    .nav-bar a {
      margin-left: 18px;
      font-size: 19px;
    }

    .copyright p {
      margin-left: -23px;
    }

    .ticket-reach-out i {
      font-size: 40px;
    }

    .button-header {
      bottom: 71px;
      padding: 14px 12px;
      right: 118px;
      margin: -4px -79px;
    }
     #email {
       margin-left:0;
     }

     
     

    }

    @media (min-width:600px) and (max-width:650px) {
    .button-header{
      margin: -30px 38px;
    }

    }

    /* MEDIA QUERIA 500PX */

    @media (max-width: 500px) {
    .location ul li {
      left: 150px;
    }

    .subscribe{
      margin-top: 2px;
      margin-left:-20px;
    }

    #email{
      margin-left:-20px;
      
    }

    .button-header{
    margin-right: -95px;
    }

    .read-button {
     
      margin-left: 79px;
    }

    .copyright a {
        display:none;

      }

    }

